@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SF-Pro-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url("../fonts/SF-Pro-Display-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SF-Pro-Display-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SF-Pro-Display-Heavy.otf');
    font-weight: 1000;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html { 
    scroll-behavior: smooth
}

.heavy-font {
    font-weight: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'SF Pro', sans-serif!important;
    background-image: linear-gradient(
        135deg,
        hsl(47deg 100% 50%) 0%,
        hsl(45deg 100% 61%) 0%,
        hsl(44deg 100% 67%) 0%,
        hsl(44deg 100% 72%) 0%,
        hsl(44deg 100% 77%) 1%,
        hsl(43deg 100% 82%) 3%,
        hsl(43deg 100% 86%) 7%,
        hsl(43deg 100% 91%) 12%,
        hsl(43deg 100% 95%) 23%,
        hsl(0deg 0% 100%) 60%
    );
    background-repeat: no-repeat;
}

.navbar-mobile {
    display: none;
    width: 0;
    height: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px!important;
    padding: 1rem 0;
}

.linha {
    margin: 0 0 1rem 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.343), rgba(0, 0, 0, 0));
    opacity: 0.2;
}

.navbar-show, .navbar-hide {
    width: 3rem;
    height: 4rem;
    border: none;
    background-color: transparent;
}

.hambutton {
    display: none;
}

.hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}


.container {
    width: 1080px;
    margin: auto;
}

.logo-md {
    width: 7rem;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.navbar-link {
    font-size: 1.25rem;
    /* transition: font-weight 0.2s ease-in; */
    font-weight: 500;
}

.navbar-button {
    border-radius: 1rem;
    padding: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background-color: #FFC700;
}

#hero {
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor:default;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
}

.hero-images img {
    border-radius: 1.25rem;
}

#services, #services2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.div-title {
    cursor: default;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.services-card {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 1.25rem;
    padding: 1.5em;
    box-sizing: border-box;
    cursor: inherit;
    gap: .25rem;

    background-size: cover;
    background-position: center;

    transition: transform 300ms;
}

.services-card:hover {
    transform: scale(1.01);
}

.services-card h1 {
    font-weight: bold;
}

.services-card h1, .services-card p {
    cursor: pointer;
}

.seguros-card {
    width: 350px;
    height: 23rem;
    background: url(../assets/images/services-card-background.png);
}

.turismo-card {
    width: 704px;
    height: 23rem;
    background: url(../assets/images/tourism-card-background.png);
}

.consorcio-card {
    width: 1080px;
    height: 19rem;
    background: url(../assets/images/consorcio-card-backgound.png);
}

.about-card {
    width: 37rem;
    height: 527px;
    border-radius: 1.375rem;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2em;
    gap: 1em;
    margin-right: 0.6rem;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    scroll-snap-align: start;
    flex-shrink: 0;

}

.about-card.active {
    opacity: 1;
}

.about-card-1 {
    background: url(../assets/images/card-xp.png) no-repeat center center;
}

.about-card-2 {
    background: url(../assets/images/card-2-xp.png) no-repeat center center;
}

#about-us {
    margin-top: 6em;
    position: relative;
}

#about-us>h1 {
    margin-bottom: 1em;
}

.about-card p {
    font-size: 0.75rem;
}

.wrapper, .service-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
}

.carousel, .cards-grid {
    display: flex;
    flex-flow: row nowrap;
}

.wrapper::-webkit-scrollbar, .service-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}



.arrow {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.arrow svg {
    width: 1rem;
}

.arrows {
    padding: 1rem 1rem 3rem 1rem;
    height: 40px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
}

footer {
    margin-top: 10em;
    padding: 5em;
    /* border-top: solid 1px #000000; */
    background-image: linear-gradient(
    0deg,
    hsl(47deg 100% 50%) 0%,
    hsl(45deg 100% 61%) -1%,
    hsl(44deg 100% 67%) -1%,
    hsl(44deg 100% 72%) -1%,
    hsl(44deg 100% 77%) -2%,
    hsl(43deg 100% 82%) -1%,
    hsl(43deg 100% 86%) -1%,
    hsl(43deg 100% 91%) 1%,
    hsl(43deg 100% 95%) 7%,
    hsl(0deg 0% 100%) 28%
    );
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-col1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.map-pin {
    width: 1.5rem;
}

.address {
    display: flex;
    align-items: center;
    width: 260px;
    gap: 1em
}

.social-logos {
    display: flex;
    gap: 1.5em;
}

.footer-col2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
}

.hidden {
    opacity: 0;
    transition: all 500ms ease-in-out; 
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
}

.card-element, .card-element2 {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    scroll-snap-align: start;
    flex-shrink: 0;
    margin: 0 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13rem!important;
}

.image-card {
    border-radius: 1.5rem;
    width: 18rem;
}

.image-card, .hero-image {
    filter: brightness(60%);
}

.card-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-button {
    transition: all 0.3s ease 0s;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: #FFC700;
}

.card-button-container a, .card-button {
    width: 100%;
}


@media (max-width: 414px) {
    *:not(.logo, .logos, .logos-slide) {
        max-width: 100vw!important;
        overflow-x: hidden!important;
    }
    .container {
        width: 22rem!important;
    }
    .navbar-links, .navbar-button-a {
        display: none;
    }
    .hambutton {
        display: block;
        cursor: pointer;
    }
    .navbar-mobile {
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: rgba(255, 255, 255);
        width: 100vw;
        height: 100vh;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        top: -900px;
        transition: all 300ms;
        z-index: 999;
    }

    .navbar-mobile.active-navbar {
        position: absolute;
        top: 0;
    }

    .navbar-mobile-head {
        width: 100%;
        height: fit-content;

        padding-top: 2.5rem;
        padding-right: 2rem;
        
        display: flex;
        justify-content: end;
    }

    .navbar-mobile-body {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 3rem;
        margin-top: 5.5rem;
    }

    .navbar-links-mobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .no-scroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }

    #hero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: fit-content;
    }

    .hero-texts {
        width: 100%;
        gap: .5rem;
    }
    .hero-title {
        font-size: 2.5rem;
        height: fit-content;
        text-align: start;
    }
    .hero-description {
        font-size: 1rem;
        width: 80%;
        overflow: hidden;
        line-height: normal;
        text-align: start;
    }

    .hero-images {
        display: flex;
        flex-shrink: 0;
        gap: .5rem;
    }
    .hero-images img {
        width: 90%;
    }

    .linha {
        display: none;
    }

    .logo-md {
        width: 5rem;
    }
    
    nav {
        align-items: center;
    }
    
    .services-card {
        overflow: hidden!important;
        width: 100%;
        height: 100%;
        background-position: center center;
    }

    .about-card {
        width: 39vh;
    }
    .about-card-1 {
        background-position: 55%;
        background-size: cover;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    footer {
        padding: 0;
        padding-bottom: 3rem;
    }
    .footer-col1, .footer-col2 {
        display: flex;
        align-items: center;
    }
    .arrows, .service-arrows {
        display: none!important;
    }
   
    
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #fff;
}

.atual {
    color: #000;
    font-weight: bold;
}

.seguros {
    margin-top: 3rem;
}

.arrow-left, .arrow-right {
    cursor: pointer;
}

.service-container {
    width: 100%;
    height: fit-content;
}

.seguros-items {
    position: relative;
    margin-bottom: 5rem;
}

.service-arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}