body {
    background-color: #FCF6E8;
    font-family: "Wix Madefor Text", sans-serif;
}

.nav-items {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    width: fit-content;
    gap: 20em;
    top: 0;
    position: relative;
    backdrop-filter: saturate(1.8) blur(20px);
    transition: top 0.3s;
    background-color: rgba(250, 250, 252, 0.8);
}

.home-title {
    font-size: 3.5em;
    font-weight: 700;
}

.nav-btn {
    background-color: #373737;
    padding: 15px;
    border: none;
}

.main-button {
    transition: all 0.3s;
}

.main-button:hover {
    color: #FFFFFF;
    scale: 1.05;
}

.main-button:active {
    scale: 0.95;
}

.rounded {
    object-fit: cover;
}

.partners {
    background: #373737;
    color: #FCF6E8;
    height: 150px!important;
}

.normal-button::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #363138;
    transition: width 0.3s;
}
.normal-button:hover::after {
    width: 100%;
}

.brand-logo {
    width: 100px;
    transition: all 300ms ease-out;
}

.brand-logo:hover {
    transform: rotate(-3deg) translate(0px, -5px);
}

.brand-logo:active {
    scale: 1.05;
}

.card img {
    max-width: 100%;
    height: 220px;
}

.why-us {
    background-color: #FDC448;
}

.md-imgs img {
    height: 350px;
}

.card-img-top {
    border-radius: 10px;
}

.card {
    padding: 15px;
    border-radius: 20px;
    border: solid 1px #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: calc(25% - 1rem);
    cursor: pointer;
    box-sizing: border-box;
}

.card:hover {
    border: solid 1px #fdc448;
}

.card-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    padding-left: 0;
}

.google-map {
    width: fit-content;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #fff;
}

.title-why {
    text-align: center;
}

.info-title {
    max-width: 100px;
    line-height: 1.2;
}

.info-text {
    max-width: 450px;
}

.toggle-btn {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home-images {
    width: 50vw;
}

@media(max-width:1026px){
    body, html {
        width: 100vw!important;
        overflow-x: hidden!important;
    }
    .home-content {
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
        text-align: center;
    }
    .home-images {
        justify-content: center;
    }
    .secures .card {
        flex-basis: calc(50% - 10px)
    }
    .card .card-img-top {
        object-fit: cover;
    }
}
@media(max-width: 991px){
    .toggle-btn {
        display: block;
    }
    .nav-links{
        margin-top: -110%;
        transition: all 0.3s;
    }
    .nav-links.mobile-menu {
        margin-top: 0;
    }

    nav {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        position: relative!important;
        top: 0!important;
    }
    .nav-items {
        margin: 0!important;
        position: relative;
        top: 0!important;
        border-radius: 0!important;
        max-width: 100vw!important;
        width: 100vw!important;
        justify-content: space-between!important;
        gap: 0;
    }
    .nav-items ul {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    body, html {
        width: 100vw!important;
        overflow-x: hidden!important;
    }
    .whyus, .infocontacts {
        display: flex!important;
        flex-direction: column!important;
    }
}
@media(max-width:610px) {
    .home-images {
        transform: scale(80%);
    }
}
@media(max-width:563px) {
    .nav-items {
        column-gap: 0;
    }
}
@media(max-width: 485px) {
    .home-images {
        transform: scale(70%);
    }
}
@media(max-width: 425px) {
    .home-images {
        transform: scale(60%);
    }
    .home-title {
        font-size: 3em;
    }
    .secures .card {
        flex-basis: calc(100% - 10px)
    }
    .teamImage {
        width: 400px;
    }
    .mapGoogle {
        width: 90vw;
    }
}