body {
    background-color: #FCF6E8;
    font-family: "Wix Madefor Text", sans-serif;
}

nav {
    font-size: 14px;
    font-weight: 600;

}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    height: 400px;
    width: calc(25% - 10px);
    padding: .8em;
    box-sizing: border-box;
    cursor: pointer;

    transition: transform 0.3s;
}

.card:hover {
    transform: translatey(-10px);
}

.logos-title h5 {
    font-size: clamp(.4em, 3vw, 1em);
}

.card-title {
    font-weight: 600;
}

.card-img {
    width: 100%;
    height: 50%;
    content: "";
    border-radius: 19.2px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-1 .card-img {
    background-color: #FFE53E;
}
.card-2 .card-img {
    background-color: #FFCF3E;
}
.card-3 .card-img {
    background-color: #FF9A3C;
}
.card-4 .card-img {
    background-color: #FDF940;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-body {
    height: 50%;
}

.card-description {
    font-weight: lighter!important;
    font-size: clamp(.4em, 4vw, .7em)
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.bg-blur {
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: saturate(1.8) blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(10px);
}

nav.no-padding {
    padding: 7px 0 7px 0!important;
}

.home-title {
    font-size: clamp(1.5em, 8vw, 3.5em)!important;
    font-weight: 700;
}

p {
    font-size: clamp(0.5em, 4vw, 1em);
}

.rounded {
    object-fit: cover;
}

.partners {
    background: #373737;
    color: #FCF6E8;
    height: 150px!important;
}

.why-us {
    background-color: #FDC448;
}

.md-imgs img {
    height: 350px;
}

.google-map {
    width: fit-content;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #fff;
}

.title-why {
    text-align: center;
}

.info-title {
    max-width: 100px;
    line-height: 1.2;
}

.info-text {
    max-width: 450px;
}

.home-images {
    width: 50vw;
}

.home-content {
    padding-top: 50px;
}

@media(max-width:1100px){
    body, html {
        width: 100vw!important;
        overflow-x: hidden!important;
    }
    .home-content {
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
        text-align: center;
    }
    .home-images {
        justify-content: center;
    }
    .card {
        width: calc(33.33% - 10px);
    }
}
@media(max-width: 991px){
    body, html {
        width: 100vw!important;
        overflow-x: hidden!important;
    }
    .whyus, .infocontacts {
        display: flex!important;
        flex-direction: column!important;
    }
}
@media(max-width: 910px){
    .card {
        width: calc(50% - 10px);
    }
}
@media(max-width: 646px){
    .card {
        width: calc(100% - 10px);
    }
}

@media(max-width:610px) {
    .home-images img{
        width: 50%;
        margin-bottom: 20px;
    }
}
@media(max-width: 425px) {
    .home-content {
        margin-bottom: 0!important;
        gap: 0!important;
        text-align: start;
    }
    .hi1, .hi3{
        height: 400px;
    }
    .hi2 {
        height: 450px;
    }
    
  
    .teamImage {
        width: 400px;
    }
    .mapGoogle {
        width: 90vw;
    }
}
@media(max-width: 375px) {
    .cards-container {
        margin: 60px 30px 60px 30px;
    }
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 576px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }
}

.navbar-toggler {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    padding: 0;
    height: 45px;
}

.hamburger-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    width: 20px;
    height: 20%;
    position: relative;
}

.hamburger .line {
    width: 100%;
    height: 2px;
    background-color: rgb(71, 71, 71);
    left: 0;
    position: absolute;
}

.hamburger .line-1 {
    top: 0;
}

.hamburger .line-2 {
    bottom: 0;
}

.hamburger-container.active .hamburger .line-1 {
    transform: translateY(175%) rotate(45deg);
}

.hamburger-container.active .hamburger .line-2 {
    transform: translateY(-175%) rotate(-45deg);
}



.hamburger-container .line {
    transition: transform 0.2s ease-in-out;
}